*
.idea
result
.github
images

!*.jar
!*.tar.gz

# server
!server/target/*-runner
!server/target/*-runner.jar
!server/target/lib/*
!server/target/quarkus-app/*

# proctor

!proctor/dist

# hugo

hugo

!hugo/public