*
.idea
result
.github
images

!*.jar
!*.tar.gz

# server
!server/target/*-runner
!server/target/*-runner.jar
!server/target/lib/*
!server/target/quarkus-app/*

# proctor
!proctor/docker/nginx.conf

# hugo

hugo

!hugo/public