{
	email franklyn@htl-leonding.ac.at
}

franklyn.htl-leonding.ac.at {

	@api { 
		path /api
		path /api/*
	}
	handle @api {
		reverse_proxy franklyn-server:8080
	}

	@proctor {
		path /proctor
		path /proctor/*
	}
	handle @proctor {
		reverse_proxy franklyn-proctor:80
	}

	@repo_api {
		path /repo/api
		path /repo/api/*
	}
	handle @repo_api {
		basic_auth {
			{$APTLY_USER} {$APTLY_HASH}
		}
		uri strip_prefix /repo
		reverse_proxy franklyn-aptly:8080
	}

	@repo {
		path /repo
		path /repo/*
	}
	handle @repo {
		uri strip_prefix /repo
		reverse_proxy franklyn-aptly:8081
	}

	@glitchtip {
		path /glitchtip
		path /glitchtip/*
	}
	handle @glitchtip {
		uri strip_prefix /glitchtip
		reverse_proxy glitchtip-web:8000
	}

	handle {
		reverse_proxy franklyn-hugo:80
	}
}
